* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-color: #111010;
  --bg-heading-color: rgb(32, 29, 29);
  --bg-task-color: #2b2929;
  --bg-button-color: #000cf6;
  --bg-delete-color: rgb(183, 10, 10);
  --bg-newtask-color: #150e0ed5;
  --bg-shade-color: #181616cf;

  --border-task-color: #21d8c3;
  --border-section-color: gray;

  --primary-text-color: #ebe1e1;

  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;

  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-2xl: 25px;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-primary-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-primary-color);
}

nav button {
  background-color: var(--bg-button-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-md);
  cursor: pointer;
}

section {
  padding: var(--padding-lg);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  gap: var(--padding-lg);
}

section .task-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-task-color);
  gap: var(--padding-sm);
  padding: var(--padding-md);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--border-section-color);
  scale: 1.04;
}

section .task-column .heading {
  padding: var(--padding-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-heading-color);
  border-radius: var(--border-radius-md);
}

section .task-column .task {
  border: 2px solid var(--border-task-color);
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  cursor: grab;
}

section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  border: none;
  outline: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-delete-color);
  color: var(--primary-text-color);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--bg-shade-color);
  backdrop-filter: blur(5px);
}

.modal .center {
  background-color: var(--bg-newtask-color);
  padding: var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
  padding: var(--padding-sm) var(--padding-md);
  border: none;
  outline: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-task-color);
  color: var(--primary-text-color);
}

.modal .center button {
  background-color: var(--bg-button-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-md);
  width: fit-content;
  align-self: center;
}
